{% extends 'base.html.twig' %}

{% block title %}Edit Subscriptions{% endblock %}

{% block body %}
    <a href="{{ path('app_subscriptions_index') }}" class="bg-yellow-100 text-yellow-700 dark:bg-yellow-700 dark:text-white rounded-lg px-2 py-1 text-xs font-medium">Retour</a>

    {{ include('subscriptions/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
