{% extends 'base.html.twig' %}

{% block title %}Edit Subscriptions{% endblock %}

{% block body %}
    <h1>Edit Subscriptions</h1>

    {{ include('subscriptions/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_subscriptions_index') }}">back to list</a>

    {{ include('subscriptions/_delete_form.html.twig') }}
{% endblock %}
