
{% extends 'base.html.twig' %}

{% block body %}

    <div id="ChooseEventAndTimes-wrapper"
        data-eventId="{{ events|json_encode }}">
    </div>

    <div id="form-wrapper" class="pt-10 hidden">
        <h4 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white text-center"><span style="color: #a62475">R</span><span style="color: #35b19a">emplir vos informations</span></h4>

        {{ include('subscriptions/_form.html.twig') }}
    </div>


{% endblock %}
