{% extends 'base.html.twig' %}

{% block title %}Activities index{% endblock %}

{% block body %}
    {# Activities component will be rendered here #}
    <div id="Activities-wrapper"></div>
{% endblock %}
