<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    </head>
    <body class="bg-white">

        <div class="mb-48">
            {% if app.user is not null %}
                {% include './sidebar.html.twig' %}
                <div class="p-4 pt-20 sm:ml-64 z-40  h-screen transition-transform bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700">
            {% else %}
                {# Public page #}
                {% include './public_top.html.twig' %}
                <div class="container mx-auto my-3">
            {% endif %}

                {% block body %}{% endblock %}
            </div>
        </div>
        {% include './footer.html.twig' %}
    </body>
</html>
