

<nav class="relative top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
      <div class="xs:justify-center sm:flex items-center justify-between">
        <div>
          <a href="#" class="flex ms-2 md:me-24">
            <img src="https://le-cdn.website-editor.net/s/c728fd65baf94d07882bb30b4a0f771a/dms3rep/multi/opt/logo+apzel-1920w.png?Expires=1733661535&Signature=A0XZzd5MoxQR4~artvhSHbmtUBqXqxZSmIQVZcrefx8CJ9UKNDC5J-EKAE26feus6W6rgYnIHtDfpKpaN4p9JxMcb4hX6MeXIaEyonAvvB7swLgDN28lJeqwF9hkb~WD6Bd0fdF4VxR-zSvSCLzNPza7qeMkt6xbuhBIrZneI-WkFTJC7kWK2QUGATfeOM~ZxQAxnxG2q~6DIzo7NHKCVbQm9pq29S9JVmyO~eMDogbA~wBvGnQee-xnupO6~~jsgOeTlVO4UtGTpQ5xf9R4qbad78Gl34Ru08Vi73an-JwJJNFpf4EV9RLxAGqPKGVDimLOPQetMPzL1ppzW81MQQ__&Key-Pair-Id=K2NXBXLF010TJW" alt="logo" class="h-8 me-3">
            <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white" style="color: #35b19a">
             <span style="color: #a62475">A</span>pel <span style="color: #a62475">S</span>t <span style="color: #a62475">F</span>rançois</span>
          </a>
        </div>
          <div>
              <a href="https://www.apelstfrancois.fr/" class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white text-center" >
                <span style="color: #a62475">www</span><span style="color: #35b19a">.apelstfrancois</span><span style="color: #a62475">.fr</span>
              </a>
          </div>
      </div>
    </div>
  </nav>