

<nav class="relative top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <a href="#" class="hidden md:flex ms-2 justify-center">
          <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white" style="color: #35b19a">
            <span style="color: #a62475">A</span>ssociation de <span style="color: #a62475">P</span>arents d'élève de l'<span style="color: #a62475">E</span>nseignement <span style="color: #a62475">L</span>ibre
          </span>
        </a>
        <!-- Mobile -->
        <a href="#" class="block md:hidden ms-2 md:me-24 text-center">
          <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white" style="color: #35b19a">
            <span style="color: #a62475">A</span>pel</span>
        </a>
          <p class="text-center">
            <span style="color: #35b19a">Saint François - Douvaine</span>
          </p>
    </div>
  </nav>