{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="flex justify-center">

        <img src="https://le-cdn.website-editor.net/s/c728fd65baf94d07882bb30b4a0f771a/dms3rep/multi/opt/logo+apzel-270w.png?Expires=1728764921&Signature=Np0Y~hjwCjUx26YxA2gm0Cf~U0YCZ~1X6a413SYfr0WumfOLgsJQKFx3OhCTDZEf92GGB6Gv3HX~DnW9q5EvKXOmJW5rj3~aCEvvHTCgTB4bmnA6u1pPkU6upknqARXhFyvPe4ZTVJU1b1g3IjJMvB5Nl7sMeTq5BuBDbCEN8PA2Ys2dQz6e-lv2FsJGQkiCsY4xcDzs6ebn4qfWMkvZBGPMsvXAoYvJdi3r3mIwrKD10Mc4OHOx1I-yMBL1FXnI6r5IyjEoRUpXRKDeFGAhjcddt2a68VcNlJc6XpQJc5fa57hM3hQ25RqdQFMt5WZbZd5fiXQaqCmvt3Nwpfu~Bg__&Key-Pair-Id=K2NXBXLF010TJW" alt="logo" class="img-fluid w-1/4">
    </div>
{% endblock %}
